#### 1. Import pandas library

In [8]:
import pandas as pd

#### 2. Import mysql.connector

In [9]:
import mysql.connector

#### 2.2. Run the following line

In [10]:
cnx = mysql.connector.connect(user='guest', password='relational', host='relational.fit.cvut.cz', database='stats', use_pure=True)

### Import users table:

#### 3. Initialize cursor (as seen in classes' Jupyter Notebook)

In [11]:
cursor = cnx.cursor()

#### 4. Initialize query  (as seen in classes' Jupyter Notebook) 
#### You want the users table from stats database. (Hint: stats.users)

In [12]:
query = ("SELECT * FROM stats.users")

#### 5. Send query to database  (as seen in classes' Jupyter Notebook)

In [13]:
cursor.execute(query)

#### 6. Create a new dataframe (preferably called users) with the following columns names (as seen in classes' Jupyter Notebook)

In [14]:
columns_users = ['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate', 'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes', 'AccountId', 'Age', 'ProfileImageUrl']

In [15]:
users = pd.DataFrame(columns = columns_users)

#### 7. Fill the new users dataframe with the data you can get iterating through cursor (as seen in classes' Jupyter Notebook)

In [16]:
for i, data in enumerate(cursor):
    users.loc[i] = data

In [18]:
users.head(10)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,None,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40,None

#### 8. Rename Id column to userId

In [ ]:
users.rename (columns = {Id: userId}, inplace = True)

### Import posts table:

#### 9. Initialize cursor (as seen in classes' Jupyter Notebook)

In [19]:
cursor = cnx.cursor()

#### 10. Initialize query  (as seen in classes' Jupyter Notebook) 
#### You want the posts table from stats database. (Hint: no hint this time ;) )

In [20]:
query = ("SELECT * FROM stats.posts")

#### 11. Send query to database  (as seen in classes' Jupyter Notebook)

In [19]:
cursor.execute(query)

#### 12. Create a new dataframe (preferably called posts) with the following columns names (as seen in classes' Jupyter Notebook)

In [29]:
columns_posts = ['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score', 'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId', 'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate', 'OwnerDisplayName', 'LastEditorDisplayName']

In [21]:
posts = pd.read_csv('/Users/sofiacostadesousa/Desktop/Ironhack/21.08/lab-data-cleaning/your-code/posts_table.csv')

In [22]:
posts.head(10)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaN,NaN,NaN
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaN,NaN,NaN
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaN,NaN,2010-07-19 20:19:46,NaN,NaN
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,NaN,...,NaN,3,NaN,NaN,NaN,2010-07-19 19:16:27,3.0,NaN,NaN,NaN
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaN,NaN,NaN,NaN,NaN

#### 12. Fill the new posts dataframe with the data you can get iterating through cursor (as seen in classes' Jupyter Notebook)

#### 13. Rename Id column to postId and OwnerUserId to userId

In [23]:
posts = posts.rename(columns={'Id':'postId', 'OwnerUserId':'userId'})
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 14. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [24]:
users = users[['userId', 'Reputation','Views','UpVotes','DownVotes']]
posts = posts[['postId', 'Score','userId','ViewCount','CommentCount']]

#### 15. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [25]:
users.describe()
users.shape

(40325, 5)

In [26]:
posts.shape

(40000, 5)

In [27]:
# merge_df = users.merge(posts, how='inner', left_on='userId', right_on='userId')
merge_df = pd.merge (users, posts, on='userId', how='inner')

#### 16. How many missing values do you have in your merged dataframe? On which columns?

In [28]:
merge_df.shape[0]

38962

In [29]:
posts.shape[0]-merge_df.shape[0]

1038

In [30]:
#check for null values
merge_df.isnull()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False,True,False
10,False,False,False,False,False,False,False,True,False
11,False,False,False,False,False,False,False,True,False
12,False,False,False,False,False,False,False,True,False
13,False,False,False,False,False,False,False,True,False
14,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,True,False
16,False,False,False,False,False,False,False,True,False
17,False,False,False,False,False,False,False,True,False
18,False,False,False,False,False,False,False,True,False
19,False,False,False,False,False,False,False,True,False
20,False,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False,True,False
22,False,False,False,False,False,False,False,True,False
23,False,False,False,False,False,False,False,True,False
24,False,False,False,False,False,False,False,True,False
25,False,False,False,False,False,False,False,True,False
26,False,False,False,False,False,False,False,True,False
27,False,False,False,False,False,False,False,True,False
28,False,False,False,False,False,False,False,True,False
29,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...
38932,False,False,False,False,False,False,False,True,False
38933,False,False,False,False,False,False,False,True,False
38934,False,False,False,False,False,False,False,True,False
38935,False,False,False,False,False,False,False,False,False
38936,False,False,False,False,False,False,False,False,False
38937,False,False,False,False,False,False,False,True,False
38938,False,False,False,False,False,False,False,True,False
38939,False,False,False,False,False,False,False,True,False
38940,False,False,False,False,False,False,False,False,False
38941,False,False,False,False,False,False,False,False,False
38942,False,False,False,False,False,False,False,True,False
38943,False,False,False,False,False,False,False,False,False
38944,False,False,False,False,False,False,False,True,False
38945,False,False,False,False,False,False,False,False,False
38946,False,False,False,False,False,False,False,True,False
38947,False,False,False,False,False,False,False,False,False
38948,False,False,False,False,False,False,False,False,False
38949,False,False,False,False,False,False,False,False,False
38950,False,False,False,False,False,False,False,False,False
38951,False,False,False,False,False,False,False,False,False
38952,False,False,False,False,False,False,False,False,False
38953,False,False,False,False,False,False,False,False,False
38954,False,False,False,False,False,False,False,False,False
38955,False,False,False,False,False,False,False,False,False
38956,False,False,False,False,False,False,False,False,False
38957,False,False,False,False,False,False,False,False,False
38958,False,False,False,False,False,False,False,False,False
38959,False,False,False,False,False,False,False,False,False
38960,False,False,False,False,False,False,False,False,False
38961,False,False,False,False,False,False,False,True,False

In [31]:
#check for the amount of null values per columns
df_null = merge_df.isnull().sum()

In [32]:
df_null

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

In [33]:
#filters tables
black_list = df_null [df_null > 0]

In [34]:
black_list

ViewCount    23572
dtype: int64

#### 17. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [42]:
df_viewzero = merge_df['ViewCount']
(df_viewzero==0).sum()

#there are no zeros, we would assumo that the null value means zero

0

In [44]:
#Check if the null matches the entries with o views
merge_df[['Views', 'ViewCount']]

      Views  ViewCount
0         0        NaN
1         0        NaN
2         0        NaN
3         0        NaN
4         0        NaN
...     ...        ...
38957     1      115.0
38958     1      326.0
38959    13      166.0
38960     2     3357.0
38961     2        NaN

[38962 rows x 2 columns]

In [64]:
merge_df[['Views', 'ViewCount']].dtypes

Views         object
ViewCount    float64
dtype: object

In [71]:
merge_df[['Views', 'ViewCount']][(merge_df.Views==0) & (merge_df.ViewCount.isnull())] 
# Select rows that have 0 views and nan value in view count

      Views  ViewCount
0         0        NaN
1         0        NaN
2         0        NaN
3         0        NaN
4         0        NaN
...     ...        ...
38795     0        NaN
38827     0        NaN
38938     0        NaN
38944     0        NaN
38946     0        NaN

[314 rows x 2 columns]

In [68]:
merge_df[['Views', 'ViewCount']][(merge_df.Views==0) & (merge_df.ViewCount.isnull())] .count()

Views        314
ViewCount      0
dtype: int64

In [73]:
#0 views and positive view count
merge_df[['Views', 'ViewCount']][(merge_df.Views==0) & (merge_df.ViewCount.notnull())]

      Views  ViewCount
4978      0      127.0
5433      0      667.0
6246      0      237.0
6444      0      386.0
6822      0     2209.0
...     ...        ...
38839     0      315.0
38940     0      840.0
38941     0      409.0
38943     0     2244.0
38955     0       81.0

[836 rows x 2 columns]

In [85]:
black_list[0]

23572

In [86]:
#number of rows with viewcount value
merge_df.shape[0] - black_list[0]

15390

In [87]:
merge_df.shape[0]

38962

In [88]:
#because the amount of rows that actually have viewcount value, in comparison with the size of the table, is not significative, i decided to drop the column
df_dropped = merge_df.drop(['ViewCount'], axis=1)

In [91]:
df_dropped

      userId Reputation Views UpVotes DownVotes  postId  Score  CommentCount
0         -1          1     0    5007      1920    2175      0             0
1         -1          1     0    5007      1920    8576      0             0
2         -1          1     0    5007      1920    8578      0             0
3         -1          1     0    5007      1920    8981      0             0
4         -1          1     0    5007      1920    8982      0             0
...      ...        ...   ...     ...       ...     ...    ...           ...
38957  45934         11     1       0         0   34003      1             2
38958  46192         36     1       0         0   40667      5             2
38959  46522        235    13      27         1   17461      3             0
38960  52371        221     2       0         0   27237     24             5
38961  55226        119     2       3         0   16176      1             0

[38962 rows x 8 columns]

#### 18. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [92]:
merge_df.dtypes

userId           object
Reputation       object
Views            object
UpVotes          object
DownVotes        object
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [93]:
merge_df_dtype = merge_df.astype({"Score":"float64",'userId': 'int64', 'ViewCount': 'int64', 'Reputation' : 'int64',"Views": 'int64', "UpVotes": 'int64', "DownVotes": 'int64'})

ValueError: Cannot convert non-finite values (NA or inf) to integer