#### 1. Import pandas library

In [9]:
import pandas as pd

#### 2. Import mysql.connector

In [3]:
import mysql.connector

#### 2.2. Run the following line

In [4]:
cnx = mysql.connector.connect(user='guest', password='relational', host='relational.fit.cvut.cz', database='stats', use_pure=True)

### Import users table:

#### 3. Initialize cursor (as seen in classes' Jupyter Notebook)

In [5]:
cursor = cnx.cursor()

#### 4. Initialize query  (as seen in classes' Jupyter Notebook) 
#### You want the users table from stats database. (Hint: stats.users)

In [6]:
query = ("SELECT * FROM stats.users")

#### 5. Send query to database  (as seen in classes' Jupyter Notebook)

In [7]:
cursor.execute(query)

#### 6. Create a new dataframe (preferably called users) with the following columns names (as seen in classes' Jupyter Notebook)

In [11]:
columns_users = ['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate', 'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes', 'AccountId', 'Age', 'ProfileImageUrl']

In [12]:
users = pd.DataFrame(columns = columns_users)

#### 7. Fill the new users dataframe with the data you can get iterating through cursor (as seen in classes' Jupyter Notebook)

In [15]:
for i, data in enumerate(cursor):
    users.loc[i] = data

In [16]:
users.head(10)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,None,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40,None

#### 8. Rename Id column to userId

In [ ]:
users.rename (columns = {Id: userId}, inplace = True)

### Import posts table:

#### 9. Initialize cursor (as seen in classes' Jupyter Notebook)

In [17]:
cursor = cnx.cursor()

#### 10. Initialize query  (as seen in classes' Jupyter Notebook) 
#### You want the posts table from stats database. (Hint: no hint this time ;) )

In [18]:
query = ("SELECT * FROM stats.posts")

#### 11. Send query to database  (as seen in classes' Jupyter Notebook)

In [19]:
cursor.execute(query)

#### 12. Create a new dataframe (preferably called posts) with the following columns names (as seen in classes' Jupyter Notebook)

In [29]:
columns_posts = ['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score', 'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId', 'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate', 'OwnerDisplayName', 'LastEditorDisplayName']

In [31]:
posts = pd.read_csv('/Users/sofiacostadesousa/Desktop/Ironhack/21.08/lab-data-cleaning/your-code/posts_table.csv')

In [32]:
posts.head(10)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaN,NaN,NaN
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaN,NaN,NaN
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaN,NaN,2010-07-19 20:19:46,NaN,NaN
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,NaN,...,NaN,3,NaN,NaN,NaN,2010-07-19 19:16:27,3.0,NaN,NaN,NaN
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaN,NaN,NaN,NaN,NaN

#### 12. Fill the new posts dataframe with the data you can get iterating through cursor (as seen in classes' Jupyter Notebook)

#### 13. Rename Id column to postId and OwnerUserId to userId

In [43]:
posts = posts.rename(columns={'Id':'postId', 'OwnerUserId':'userId'})
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15,2010-07-19 19:12:12,23,1278,<p>How should I elicit prior distributions fro...,8,2010-09-15 21:08:26,Eliciting priors from experts,...,5,1,14,NaN,None,None,NaN,None,None,None
1,2,1,59,2010-07-19 19:12:57,22,8198,<p>In many different statistical methods there...,24,2012-11-12 09:21:54,What is normality?,...,7,1,8,88,2010-08-07 17:56:44,None,NaN,None,None,None
2,3,1,5,2010-07-19 19:13:28,54,3613,<p>What are some valuable Statistical Analysis...,18,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19,4,36,183,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,None,None,None
3,4,1,135,2010-07-19 19:13:31,13,5224,<p>I have two groups of data. Each with a dif...,23,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5,2,2,NaN,None,None,NaN,None,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23,2010-07-19 19:21:15,None,...,NaN,3,NaN,23,2010-07-19 19:21:15,2010-07-19 19:14:43,3,None,None,None

#### 14. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [45]:
users = users[['userId', 'Reputation','Views','UpVotes','DownVotes']]
posts = posts[['postId', 'Score','userId','ViewCount','CommentCount']]

#### 15. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [48]:
users.describe()
users.shape

(40325, 5)

In [49]:
posts.shape

(44670, 5)

In [50]:
merge_df = users.merge(posts, how='inner', left_on='userId', right_on='userId')

#### 16. How many missing values do you have in your merged dataframe? On which columns?

In [53]:
merge_df.shape[0]

43611

In [54]:
posts.shape[0]-merge_df.shape[0]

1059

In [56]:
#check for null values
merge_df.isnull()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False,True,False
10,False,False,False,False,False,False,False,True,False
11,False,False,False,False,False,False,False,True,False
12,False,False,False,False,False,False,False,True,False
13,False,False,False,False,False,False,False,True,False
14,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,True,False
16,False,False,False,False,False,False,False,True,False
17,False,False,False,False,False,False,False,True,False
18,False,False,False,False,False,False,False,True,False
19,False,False,False,False,False,False,False,True,False
20,False,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False,True,False
22,False,False,False,False,False,False,False,True,False
23,False,False,False,False,False,False,False,True,False
24,False,False,False,False,False,False,False,True,False
25,False,False,False,False,False,False,False,True,False
26,False,False,False,False,False,False,False,True,False
27,False,False,False,False,False,False,False,True,False
28,False,False,False,False,False,False,False,True,False
29,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...
43581,False,False,False,False,False,False,False,True,False
43582,False,False,False,False,False,False,False,False,False
43583,False,False,False,False,False,False,False,False,False
43584,False,False,False,False,False,False,False,True,False
43585,False,False,False,False,False,False,False,True,False
43586,False,False,False,False,False,False,False,True,False
43587,False,False,False,False,False,False,False,False,False
43588,False,False,False,False,False,False,False,False,False
43589,False,False,False,False,False,False,False,False,False
43590,False,False,False,False,False,False,False,True,False
43591,False,False,False,False,False,False,False,False,False
43592,False,False,False,False,False,False,False,True,False
43593,False,False,False,False,False,False,False,False,False
43594,False,False,False,False,False,False,False,True,False
43595,False,False,False,False,False,False,False,False,False
43596,False,False,False,False,False,False,False,False,False
43597,False,False,False,False,False,False,False,False,False
43598,False,False,False,False,False,False,False,False,False
43599,False,False,False,False,False,False,False,False,False
43600,False,False,False,False,False,False,False,False,False
43601,False,False,False,False,False,False,False,False,False
43602,False,False,False,False,False,False,False,False,False
43603,False,False,False,False,False,False,False,False,False
43604,False,False,False,False,False,False,False,False,False
43605,False,False,False,False,False,False,False,False,False
43606,False,False,False,False,False,False,False,False,False
43607,False,False,False,False,False,False,False,False,False
43608,False,False,False,False,False,False,False,False,False
43609,False,False,False,False,False,False,False,False,False
43610,False,False,False,False,False,False,False,True,False

In [58]:
#check for the amount of null values per columns
df_null = merge_df.isnull().sum()

In [61]:
df_null

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       26011
CommentCount        0
dtype: int64

In [59]:
#filters tables
black_list = df_null [df_null > 0]

In [60]:
black_list

ViewCount    26011
dtype: int64

#### 17. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [65]:
merge_df [100:500]

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
100,-1,1,0,5007,1920,41298,0,NaN,0
101,-1,1,0,5007,1920,41310,0,NaN,0
102,-1,1,0,5007,1920,41311,0,NaN,0
103,-1,1,0,5007,1920,41458,0,NaN,0
104,-1,1,0,5007,1920,43067,0,NaN,0
105,-1,1,0,5007,1920,43800,0,NaN,0
106,-1,1,0,5007,1920,44691,0,NaN,0
107,-1,1,0,5007,1920,44692,0,NaN,0
108,-1,1,0,5007,1920,44693,0,NaN,0
109,-1,1,0,5007,1920,44694,0,NaN,0
110,-1,1,0,5007,1920,44695,0,NaN,0
111,-1,1,0,5007,1920,44809,0,NaN,0
112,-1,1,0,5007,1920,45195,0,NaN,0
113,-1,1,0,5007,1920,45494,0,NaN,0
114,-1,1,0,5007,1920,45727,0,NaN,0
115,-1,1,0,5007,1920,45901,0,NaN,0
116,-1,1,0,5007,1920,45902,0,NaN,0
117,-1,1,0,5007,1920,46132,0,NaN,0
118,-1,1,0,5007,1920,46731,0,NaN,0
119,-1,1,0,5007,1920,46786,0,NaN,0
120,-1,1,0,5007,1920,47547,0,NaN,0
121,-1,1,0,5007,1920,47833,0,NaN,0
122,-1,1,0,5007,1920,47850,0,NaN,0
123,-1,1,0,5007,1920,49878,0,None,0
124,-1,1,0,5007,1920,50412,0,None,0
125,-1,1,0,5007,1920,50527,0,None,0
126,-1,1,0,5007,1920,50710,0,None,0
127,-1,1,0,5007,1920,50756,0,None,0
128,-1,1,0,5007,1920,50759,0,None,0
129,-1,1,0,5007,1920,51601,0,None,0
...,...,...,...,...,...,...,...,...,...
470,25,4968,641,328,23,1844,13,3142,7
471,25,4968,641,328,23,2053,7,NaN,0
472,25,4968,641,328,23,2129,15,NaN,1
473,25,4968,641,328,23,2501,61,NaN,3
474,25,4968,641,328,23,2900,5,NaN,0
475,25,4968,641,328,23,4452,5,NaN,1
476,25,4968,641,328,23,4947,4,NaN,1
477,25,4968,641,328,23,5599,7,NaN,4
478,25,4968,641,328,23,5895,2,NaN,0
479,25,4968,641,328,23,6618,9,NaN,8
480,25,4968,641,328,23,8094,2,NaN,2
481,25,4968,641,328,23,9800,24,NaN,3
482,25,4968,641,328,23,11366,2,NaN,1
483,25,4968,641,328,23,12002,14,3883,6
484,25,4968,641,328,23,12991,16,NaN,9
485,25,4968,641,328,23,13900,0,NaN,0
486,25,4968,641,328,23,14456,2,NaN,0
487,25,4968,641,328,23,15350,5,842,0
488,25,4968,641,328,23,15495,3,NaN,1
489,25,4968,641,328,23,15946,7,NaN,2
490,25,4968,641,328,23,16090,2,NaN,0
491,25,4968,641,328,23,16273,6,NaN,1
492,25,4968,641,328,23,16354,10,NaN,2
493,25,4968,641,328,23,17378,3,3028,0
494,25,4968,641,328,23,19074,0,NaN,2
495,25,4968,641,328,23,19188,3,NaN,0
496,25,4968,641,328,23,21055,6,NaN,3
497,25,4968,641,328,23,22354,1,NaN,0
498,25,4968,641,328,23,29158,10,2305,14
499,25,4968,641,328,23,29319,3,NaN,1

In [ ]:
#ds[['displ', 'cylinders']] = ds[['displ', 'cylinders']].fillna(0)

#### 18. Adjust the data types in order to avoid future issues. Which ones should be changed?